* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* box1 */

.nav-logo {
    height: 60px;
    width: 100px;
}

.logo {
    background-image: url(./Assests/amazon_logo.png);
    background-size: cover;
    height: 100%;
    width: 120%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid;
}

/* box2 */

.add-1st {
    color: #CCCCCC;
    font-size: 0.7rem;
    margin-left: 15px;
}

.add-2nd {
    font-size: .8rem;
    font-weight: 700;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 58%;
}

.nav-search:focus-within {
    border: 3.4px solid #ff9900;
    border-radius: 0.49rem;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-select:focus {
    outline: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-input:focus{
    outline: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f3a847;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box4 */

img {
    height: 30px;
}

.flag-icon {
    display: flex;
    align-items: center;

}

/* box5 & box6 */

.line1 {
    font-size: 0.7rem;
}

.line2 {
    font-size: 0.8rem;
    font-weight: 700;
}

.account-lists {
    border: none;
    background-color: #0f1111;
    color: grey;
}

/* box7 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

#nav-hw {
    height: -10px;
}

/* panel */

.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-size: 14px;
}

.panel-all{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    position: relative;
    font-size: 14px;
    padding-bottom: 4px;
}

.panel-ops {
    width: 84%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    position: relative;
}

/* main-section */

main{
    background-color: #e3e6e6;
}

/* hero-section */

.hero-section {
    background-size: cover;
    height: 600px;
    width: 1504px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8px;
    z-index: 0;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 97%;
    position: relative;
    top: -344px;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}

.hero-msg a:hover {
    text-decoration: underline;
}

/* Image Slider */
.image-container{
    position: relative;
}

.image-list{
    display: flex;
}

.image-item{
    min-width: 100%;            
    transition: transform 0.2s ease-out;
}

.image-item img{
    background-size: cover;
    height: 600px;
    width: 1504px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8px;
    z-index: 0;
}

.image-btn-container{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-btn{
    padding: 95px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid transparent;
}

.slider-btn:focus{
    border: 3px solid #008296;
    box-shadow: -1px -1px 2px white, 1px 1px 1px white;
    margin: 2px;
}

#slide-btn-left{
    position: relative;
    left: 7.5px;
}

#slide-btn-right{
    position: relative;
    right: 7.5px;
}

/* shop-section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
}

.box{
    border: 2px solid black;
    height: 385px;
    width: 22.5%;
    padding: 20px 0px 15px;
    position: relative;
    top: -885px;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-image{
    width: 292px;
    height: 303px;
    padding: 0px 20px;
    margin: 44px;
    display: inline-grid;
}


