#container{
    height: 400px;
    width: 400px;
    border: 2px solid #54afaa;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; (You can use this property also) */
    align-items: center;
}

#container div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    line-height: 100px;
}

#navbar{
    height: 50px;
    width: 900px;
    border: 2px solid #54afaa;
    display: flex;
    background-color: pink;
    border-radius: 10px;
    justify-content: flex-start;
    align-content: center;

}

.option{
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}