.face{
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}
.mouth{
    height: 100px;
    width: 200px;
    background-color: rgba(162, 32, 32, 0.885);
    border-radius: 0px 0px 100px 100px;
    position: absolute;
    top: 260px;
    left: 110px;
    border: solid 2px;
}

.left-eye, .right-eye{
    height: 60px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 110px;
    display: inline-block;
}
.right-eye{
    left: 260px;
}
.left-pupil, .right-pupil{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 118px;
    left: 130px;
    display: inline-block;
}
.right-pupil{
    left: 280px;
}
/* .teeth{ 
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 0px 0px 45px 45px;
    position: absolute;
} */