.card {
    height: 300px;
    width: 200px;
    border: 4px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px black;
    transition: 0.5s;
}

img {
    height: 70%;
    width: 100%;
    border-radius: 100% 100% 0% 0%;
}

.desc {
    padding: 0px 10px;
}

.card:hover {
    box-shadow: 4px 8px 20px red;
}