<%- include("includes/head.ejs")  %>

    <body>
        <h1>This is the home page</h1>
        <h3> <%=15*15%> </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti id est, provident consequatur aspernatur
            voluptatum numquam natus repellat quas eius quam, reprehenderit asperiores! Cum, repudiandae magnam numquam
            perferendis incidunt consectetur.
        </p>
        <button>Click me</button>
    </body>

</html>